<div fxLayout="row" fxLayoutGap="40px">

    <div fxFlex="50" class="formulario" fxLayout="column">
        <mat-form-field fxFlex="100">
            <mat-label>
                codigo
            </mat-label>
            <input matInput type="text" [(ngModel)]="destino.codigo" required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>
                nombre
            </mat-label>
            <input matInput type="text" [(ngModel)]="destino.nombre" required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>
                descripcion
            </mat-label>
            <textarea matInput type="text" [(ngModel)]="destino.descripcion" required></textarea>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>
                tipo destino
            </mat-label>
            <mat-select [(ngModel)]="destino.tipoDestinoCodigo" required>
                <mat-option *ngFor="let tipoDestino of tiposDestino" [value]="tipoDestino.codigo">
                    {{tipoDestino.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div fxLayout="row" fxFlex="100">
            <mat-label fxFlex="50">
                tiene acceso por tierra?
            </mat-label>
            <mat-radio-group fxFlex="50" [(ngModel)]="destino.tierra" fxLayoutGap="20px">
                <mat-radio-button value="s">SI</mat-radio-button>
                <mat-radio-button value="n">NO</mat-radio-button>
            </mat-radio-group>
        </div>
        <div fxLayout="row" fxFlex="100">
            <mat-label fxFlex="50">
                tiene acceso por aire?
            </mat-label>
            <mat-radio-group fxFlex="50" [(ngModel)]="destino.aire" fxLayoutGap="20px">
                <mat-radio-button value="s">SI</mat-radio-button>
                <mat-radio-button value="n">NO</mat-radio-button>
            </mat-radio-group>
        </div>
        <div fxLayout="row" fxFlex="100">
            <mat-label fxFlex="50">
                tiene acceso por mar?
            </mat-label>
            <mat-radio-group fxFlex="50" [(ngModel)]="destino.mar" fxLayoutGap="20px">
                <mat-radio-button value="s">SI</mat-radio-button>
                <mat-radio-button value="n">NO</mat-radio-button>
            </mat-radio-group>
        </div>

        <button mat-raised-button color="primary" (click)="guardar()">
            <mat-icon>save</mat-icon>
            Guardar</button>
    </div>

    <div fxFlex="50">
        <h3>
            {{destino | json}}
        </h3>
    </div>

</div>