<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav>
        <!--menu-->
        <mat-toolbar>
            <span class="spacer">Menu</span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>

            <mat-list-item routerLink="/home" role="listitem" (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>arrow_right</mat-icon>
                Home
            </mat-list-item>
            <mat-list-item routerLink="/destino" role="listitem" (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>arrow_right</mat-icon>
                Gestionar Destino
            </mat-list-item>
            <mat-list-item routerLink="/tipo-destino" role="listitem" (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>arrow_right</mat-icon>
                Gestionar Tipo Destino
            </mat-list-item>
            <mat-list-item routerLink="/auth" role="listitem" (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>arrow_right</mat-icon>
                Login
            </mat-list-item>
            
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <span class="material-icons">
                menu
            </span>
        </button>
    </mat-toolbar>



    <router-outlet></router-outlet>
</mat-sidenav-container>