<h1>Listado de Destinos</h1>


<button mat-button [routerLink]="['/destino/crear']" >Crear Destino</button>

<mat-divider></mat-divider>
<br>

<div flexLayout.xl="row wrap" fxLayout.sm="column" fxLayoutAlign.md="center" fxLayoutGap="20px" style="padding: 0 50px">

    <div fxFlex="20" *ngFor="let destino of destinos">
        <mat-card>
            <mat-card-header>
                {{destino.nombre}}
            </mat-card-header>
            <mat-card-subtitle>
                {{destino.descripcion}}
            </mat-card-subtitle>
        
            <img mat-card-image src="../../../../assets/images/san-andres.jpg" alt="">
        
            <mat-card-content>
                <h3>tipo destino: {{destino.tipoDestino}}</h3>
                <p>
                    <strong>acceso por aire </strong> {{destino.aire}}
                </p>
                <p>
                    <strong>acceso por tierra </strong> {{destino.tierra}}
                </p>
                <p>
                    <strong>acceso por mar </strong> {{destino.mar}}
                </p>
            </mat-card-content>
        
            <mat-card-actions>
                <button mat-button color="warn">
                    ELIMINAR
                </button>
                <button mat-button color="primary">
                    EDITAR
                </button>
            </mat-card-actions>
        </mat-card>
    </div>


    

</div>

